<div class="cover hidden-xs">
          <img src="/assets/images/banner.jpg" alt="." class="img-responsive">    
          <p class="">GENRE</p> 
 </div>
          
          
          
          
          <section class="padder-md w-f-md pad-bottom">
                  <div class="row row-sm">

	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/action" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">ACTION</span>
				</a>
				<a href="genre/action"><img src="assets/images/action.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/animation" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">ANIMATION</span>
				<a href="genre/animation"><img src="assets/images/animation.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/comedy" class="item-overlay active  wrapper-md font-xs text-ellipsis"> <span class="block h3 font-bold text-main center text-center m-t-n">COMEDY</span>
				<a href="genre/comedy"><img src="assets/images/comedy.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/documentary" class="item-overlay active  wrapper-md font-xs text-ellipsis"> <span class="block h3 font-bold text-main center text-center m-t-n">DOCUMENTARY</span>
				<a href="genre/documentary"><img src="assets/images/documentary.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/drama" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">DRAMA</span>
				<a  href="genre/drama"><img src="assets/images/drama.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/fantasy" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">FANTASY</span>
				<a href="genre/fantasy"><img src="assets/images/fantasy.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/horror" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">HORROR</span>
				<a href="genre/horror"><img src="assets/images/horror.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/musical" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">MUSICAL</span>
				<a href="genre/musical"><img src="assets/images/musical.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/mystery" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">MYSTERY</span>
				<a href="genre/mystery"><img src="assets/images/mystery.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/reality" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">REALITY</span>
				<a href="genre/reality""><img src="assets/images/reality.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad-top">
		<div class="item">
			<div class="pos-rlt">
				<a href="genre/scifi" class="item-overlay active  wrapper-md font-xs"> <span class="block h3 font-bold text-main center text-center m-t-n">SCIFI</span>
				<a h href="genre/scifi"><img src="assets/images/scifi.jpg" alt="" class="r r-2x img-full"></a>
			</div>
		</div>
	</div>	
</div>
</section>